// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Custom components
@import 'components/base';
@import 'components/notifications';
@import 'components/topcontactinfo';
@import 'components/sidebar';
@import 'components/dashboard';

.main-header  {

	.navbar {
		margin-bottom: 0px;
	}

	.navbar-custom-menu {
		float: right;
	}
	
}

.group-select {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	background-color: #424242;
	border-radius: 0px;
	border: none;
	height: auto;
	font-size: 11px;
}